/* main */
.main {
  height: 600px;
  /* background-color: rgba(95, 158, 160, 0.39); */
  background-color: hsla(30, 40%, 90%, 1.0);
  /* background-image: url(IMG_9797.JPG); */
  /* background-size: cover; */
  /* background-position: center; */
  background-repeat: round;
}

.main-contents {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  margin:0 auto;
}

.place {
  font-size:32px;
  font-weight:bold;
  padding:12px;
}

#target {
  width: 750px;
  height: 400px;
}

.search {
  padding-top:24px;
  display:block;
}

#address {
  display:inline-block;
  width:300px;
}

#search {
  cursor:pointer;
  display: inline-block;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fd9535;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

#search:hover {
  background: #fda555;
}

.new-place {
  font-size:32px;
  font-weight:bold;
  padding:0 8px;
  margin:8px;
  border-radius: 4%;
  border:1px solid #fff;
  background-color:hsla(30, 70%, 70%, 1.0) ;
}

.new-place > a {
  color:black;
}

.direction {
  display:flex;
  justify-content: space-between;
  width: 900px;
}

.btn {
  width: 150px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  border:1px solid #fff;
  bottom: 32px;
  right: 32px;
  padding: 15px 0;
  margin-bottom:20px;
  cursor:pointer;
}
