  <header>
    <header-contents>
      <header-logo>
        <img src="logo.png" >
        <div class="header-title">Maro's Footwork</div>
      </header-logo>
      <header-container>
        <header-container-contents>
          <ul>
            <% if user_signed_in? %>
            <%= link_to current_user.nickname, edit_user_path(id: current_user.id), method: :get %>
            <%= link_to  "ログアウト",  destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "ログイン", new_user_session_path, method: :get %>
            <% end %>
            <a href="about.html">
              <li>about</li>
            </a>
            <a href="works.html">
              <li>works</li>
            </a>
            <a href="contact.html">
              <li>contact</li>
            </a>
          </ul>          
        </header-container-contents>
      </header-container>
    </header-contents>
  </header>
  <main>
    <main-contents>
      <div id="target"></div>
      <form>
        <input type="text" id="address">
        <button id="search">Search</button>
      </form>
    </main-contents>
  </main>
  <footer>
    <div class="domain">(c)Maro</div>
  </footer>